<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randeepsingh.blogfeed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.AccountMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.AccountReg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ThemeActivity" />
        <activity android:name=".Home.Comment_activity" />
        <activity android:name=".Settings.SettingsMain" />

        <service android:name=".NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".Home.UserPost">
            <intent-filter>
                <action android:name="com.example.randeepsingh.firelogin.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.UserProfile" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Home.AddPost" />
    </application>

</manifest>